<%= form_with(model: meal_plan, html:{:id=>'my-form'}) do |form| %>
  <% if meal_plan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal_plan.errors.count, "error") %> prohibited this meal_plan from being saved:</h2>

      <ul>
        <% meal_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date, value: Date.today, id:"start-date" %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date, value: Date.today + 7, id:"end-date" %>
  </div>

  <% RecipeCategory.all.each do |label| %>
    <%= label.name %>
    <div>
      <%= form.collection_check_boxes :recipe_ids, Recipe.where(recipe_category_id: label.id), :id, :name do |r| %>
          <%= r.label %><%= r.check_box(class:"recipe-checkbox", "data-category": "#{label.name}") %>
      <% end %>
    </div>
  <% end %>
  <script>
    function validateform(e){
      const startDate = document.getElementById("start-date").value;
      const endDate = document.getElementById("end-date").value;
      const sub = (Date.parse(endDate)- Date.parse(startDate))/(3600*24*1000);

      const recipeCheckboxes = [...document.querySelectorAll('.recipe-checkbox')];

      const selectedCheckboxes = {};
      for (const recipeCheckbox of recipeCheckboxes) {
        const category = recipeCheckbox.getAttribute('data-category');
        if (recipeCheckbox.checked) {
          const current = selectedCheckboxes[category] || [];
          current.push(recipeCheckbox);
          selectedCheckboxes[category] = current;
        }
      }

      if(sub < 0){
        return;
      };

      if(((Date.parse(startDate)-Date.now())/(1000*3600*24))< -1){
        return;
      };

      let confirmMessage = '';
      
      for (const category of Object.keys(selectedCheckboxes)) {
        const recipes = selectedCheckboxes[category];
        confirmMessage += `${recipes.length} ${category} recipes\n`;
      }

      if (Object.values(selectedCheckboxes).find((list) => list.length != sub)) {
        if (confirm(`You have ${sub} days selected and:\n${confirmMessage}\nDo you want to save meal plan anyway?`) === false) {
          e.preventDefault();
        }
      }
    }
  </script>
  <div>
    <%= form.submit onclick: 'validateform(event)' %>
  </div>
<% end %>
