<%= form_with(model: recipe, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |f| %>
  <% if recipe.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"">
      <% recipe.errors.each do |error| %>
        <div class="bi bi-exclamation-triangle-fill">
          <%= error.full_message %>
        </div>
      <% end %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= f.text_field :name, placeholder:"Recipe name", class:"form-control" %>
  </div>

  <div class="field mb-3">
    <%= f.text_area :description, placeholder:"Recipe description", class:"form-control", style:"height: 200px;"  %>
  </div>

  <div class="form-floating mb-3">
    <%= f.select :recipe_category_id, options_for_select(@recipe_categories.collect { |cat| [cat.name, cat.id] }, recipe.recipe_category_id), {}, {class:"form-select"} %>
    <%= f.label :recipe_category %>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :products, Product.new, child_index: 'NEW_RECORD' do |product_fields| %>
      <%= render "recipes/recipe_product_form", f: product_fields %>
    <% end %>
  </template>
  <%= f.fields_for :products do |product_fields| %>
    <%= render "recipes/recipe_product_form", f: product_fields %>
  <% end %>
<div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add" class="btn btn-outline-dark bi bi-plus-lg"></button>

  <div>
    <%= f.submit class:"btn btn-dark mt-2" %>
  </div>

<% end %>
