<%= form_with(model: recipe, data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |f| %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, style: "display: block" %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :description, style: "display: block" %>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :recipe_category, style: "display: block" %>
    <%= f.select :recipe_category_id, options_for_select(@recipe_categories.collect { |cat| [cat.name, cat.id] }) %>
  </div>

  <template data-nested-form-target="template">
    <%= f.fields_for :products, Product.new, child_index: 'NEW_RECORD' do |product_fields| %>
      <%= render "recipes/recipe_product_form", f: product_fields %>
    <% end %>
  </template>
  <%= f.fields_for :products do |product_fields| %>
    <%= render "recipes/recipe_product_form", f: product_fields %>
  <% end %>
<div data-nested-form-target="target"></div>

  <button type="button" data-action="nested-form#add">+</button>
  
  <%= f.hidden_field :recipe_done_id, value: 2 %>
  <div>
    <%= f.submit %>
  </div>

<% end %>
