<div id="<%= dom_id recipe %>" class="container mt-3">
  <div class="row">
  <div class="col-8">
  <h3><%= recipe.name %></h3>
  </div>
  <div class="btn-group col-4">
    <%= link_to "", edit_recipe_path(@recipe), class:"btn bi bi-pencil" %>
    <%= button_to "", @recipe, method: :delete, class:"btn bi bi-trash" %>
  </div>

  </div>
  <h6 class="mb-5"><%= recipe.recipe_category.name %></h6>
  
  <p class="mb-5"><%= simple_format(recipe.description) %></p>

  <h6 class="text-center">Produkty</h6>
  <% recipe.products.each do |product| %>
    <div class="row d-flex justify-content-between mb-2">
      <div class="col-8 border border-dark p-1"><%= product.name %></div>
      <div class="col-3 border border-dark p-1 text-center">
        <% if product.quantity % 1 == 0 %>
          <%= product.quantity.to_i%>
        <% else %>
          <%= product.quantity%>
        <% end %>
      </div>
    </div>
  <% end %>

</div>
