  <div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :quantity %>
    <%= f.number_field :quantity, step: "0.01" %>

    <%= f.label :product_category %>
    <%= f.select :product_category_id, options_for_select(@product_categories.collect { |cat| [cat.name, cat.id] }) %>

    <button type="button" data-action="nested-form#remove">X</button>

    <%= f.hidden_field :_destroy %>
  </div>