<div id="<%= dom_id recipe %>">

  <p>
    <%= recipe.recipe_category.name %>
  </p>
  
  <p>
    <%= recipe.name %>
  </p>

  <p>
    <%= recipe.description %>
  </p>

  <% recipe.products.each do |product| %>
    <%= product.name %>
    <%= product.quantity%>
  <% end %>

</div>
