<p style="color: green"><%= notice %></p>

<%= render @all_product %>

<div>
  <%= link_to "Edit this all product", edit_all_product_path(@all_product) %> |
  <%= link_to "Back to all products", all_products_path %>

  <%= button_to "Destroy this all product", @all_product, method: :delete %>
</div>
