<%= form_with(model: recipe_done) do |form| %>
  <% if recipe_done.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe_done.errors.count, "error") %> prohibited this recipe_done from being saved:</h2>

      <ul>
        <% recipe_done.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :is_done, style: "display: block" %>
    <%= form.check_box :is_done %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
