<p style="color: green"><%= notice %></p>

<%= render @recipe_done %>

<div>
  <%= link_to "Edit this recipe done", edit_recipe_done_path(@recipe_done) %> |
  <%= link_to "Back to recipe dones", recipe_dones_path %>

  <%= button_to "Destroy this recipe done", @recipe_done, method: :delete %>
</div>
