<%= form_with(model: shopping_list) do |form| %>
  <div>
    <%= form.hidden_field :is_bought, value: false %>
  </div>
  <div>
    <%= form.hidden_field :product_category, value: "New" %>
  </div>

  <div class="row">
    <div class="col-7">
      <%= form.text_field :product_name, autocomplete: 'off', placeholder:"Product name", class:"form-control" %>
    </div>

    <div class="col-3">
      <%= form.number_field :product_quantity, autocomplete: 'off', step: 0.1, value: 1.0, class:"form-control" %>
    </div>

    <div class="col-2">
      <%= form.submit "+", class:"btn btn-dark" %>
    </div>
  </div>
<% end %>
